.about {
  padding: 60px 0 0 0;
  @include breakpoint(mobile) {
    padding-top: 20px;
  }
  &__top {
    position: relative;
    .container {
      display: flex;
      justify-content: space-between;
      border-bottom: 2px solid $blue;
    }
    &__left {
      border-right: 2px solid $blue;
      width: 44%;
      display: flex;
      align-items: flex-end;
      img {
        display: block;
        max-width: 100%;
      }
      @include breakpoint(mobile) {
        position: absolute;
        border: none;
        bottom: 30px;
        width: 130px;
      }
    }
    &__right {
      padding-left: 75px;
      padding-right: 35px;
      width: 90%;
      @include breakpoint(tablet) {
        padding-left: 25px;
        padding-right: 25px;
      }
      @include breakpoint(mobile) {
        width: 100%;
        padding: 0 0 15px 0;
      }
      p {
        margin: 0 0 36px 0;
        font-size: 20px;
        line-height: 29px;
        color: #25253a;
        font-weight: 300;
        @include breakpoint(mobile) {
          &:nth-last-child(2) {
            margin-left: 130px;
            margin-top: 150px;
          }
          &:last-child {
            margin-left: 130px;
          }
        }
        small {
          line-height: 24px;
          display: block;
        }
      }
      h2 {
        font-weight: 300;
        color: $orange;
        font-size: 42px;
        line-height: 51px;
        margin: 49px 0 42px 0;
        text-transform: uppercase;
        @include breakpoint(tablet) {
          font-size: 36px;
          line-height: 40px;
        }
      }
      .text-line {
        background: url("../images/svg/line.svg") -5px 10px no-repeat;
        background-size: 73px 120px;
        color: $blue;
        font-size: 26px;
        line-height: 33px;
        font-weight: 600;
        padding: 0 0 0 87px;
        margin: 0 0 57px 0;
        @include breakpoint(tablet) {
          font-size: 18px;
          line-height: 24px;
        }
      }
    }
  }
  &__slider {
    padding: 111px 0 40px 0;
    @include breakpoint(mobile) {
      padding: 30px 0;

    }
    .slick-slide {
      padding: 0 10px;
    }
    img {
      max-width: 100%;
    }
    .slick-arrow {
      position: absolute;
      top:50%;
      transform: translateY(-50%);
      width: 73px;
      height: 83px;
      background-color: $blue;
      text-indent: -9999px;
      border: none;
      z-index: 100;
      background-size: auto 100%;
      background-repeat: no-repeat;
      transition: all 0.3s;
      @include breakpoint(mobile) {
        display: none !important;
      }
      &:hover {
        background-color: $orange;
      }
    }
    .slick-prev {
      left: 0;
      background-image: url("../images/svg/left-arrow.svg");
      background-position: right;
    }
    .slick-next {
      right: 0;
      background-image: url("../images/svg/right-arrow.svg");
      background-position: left;
    }
  }
  &__text {
    h2 {
      line-height: 47px;
      font-size: 38px;
      font-weight: 300;
      color: $blue;
      margin: 18px 0 32px 0;
      @include breakpoint(mobile) {
        font-size: 26px;
        line-height: 30px;
      }
    }
    p {
      font-size: 20px;
      line-height: 30px;
      color: #25253a;
      font-weight: 300;
      &:first-child {
        margin-top: 0;
      }
      @include breakpoint(mobile) {
        font-size: 16px;
        line-height: 22px;
      }
      strong {
        font-size: 26px;
        line-height: 34px;
        @include breakpoint(mobile) {
          font-size: 20px;
          line-height: 24px;
        }
      }
    }
    .text-img {
      display: flex;
      justify-content: space-between;
      margin: 80px 0 0 0;
      @include breakpoint(mobile) {
        display: block;
        margin: 30px 0 0 0;
      }
      .img {
        width: 370px;
        text-align: center;
        border-right: 2px solid $blue;
        margin-right: 20px;
        @include breakpoint(mobile) {
          border: none;
          text-align: center;
          width: 100%;
          margin-bottom: 40px;
        }
        a {
          display: block;
          img {
            max-width: 100%;
          }
          &:not(:last-child) {
            margin: 0 0 51px 0;
          }
          @include breakpoint(mobile) {
            margin: 0 0 0 0 !important;
            width: 30%;
            display: inline-block;
            vertical-align: middle;
          }
        }
      }
      .text {
        width: 735px;
        @include breakpoint(mobile) {
          width: 100%;
        }
      }
    }
  }
  &__awards {
    margin: 93px 0 0 0;
    .helper {
      padding: 28px 120px 46px 438px;
      @include breakpoint(tablet) {
        padding: 27px 44px 40px 338px;
        min-height: 255px;
      }
      background: #eaeaea;
      position: relative;
      @include breakpoint(mobile) {
        padding: 30px 15px;
        margin: 350px -15px 0 -15px;
      }
      p {
        font-size: 32px;
        line-height: 41px;
        color: #25253a;
        font-weight: 300;
        @include breakpoint(tablet) {
          font-size: 24px;
          line-height: 28px;
        }
        @include breakpoint(mobile) {
          font-size: 22px;
          line-height: 26px;
        }
      }
      img {
        margin: 0 0 0 0;
        position: absolute;
        left: 0;
        bottom: 0;
        @include breakpoint(tablet) {
          max-width: 310px;
        }
        @include breakpoint(mobile) {
          bottom: 100%;
          left:50%;
          width: 300px;
          margin-left: -150px;
        }
      }
    }
  }
  &__info {
    p {
      color: #041e41;
      border-bottom: 2px solid $blue;
      font-size: 13px;
      line-height: 17px;
      padding: 54px 0 43px 0;
      margin: 0 0 0 0;
    }
  }
}